<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  {{ partial "head.html" . }}
  <body>
    <a href="#main">{{ T "skip_to_content" }}</a>
    {{ partial "noscript.html" . }}
    {{ partial "svg.html" . }}
    <div class="wrapper">
      {{ partial "header.html" . }}
      <div class="main-and-footer">
        <div class="main-content">
          {{ partial "nav.html" . }}
          {{ block "main" . }}{{ end }}
          {{ if ne .Site.Params.moveFooterToHeader true }}
            {{ partial "footer.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ partial "script.html" . }}
    {{ partial "katex.html" . }}
  </body>
</html>
