<div class="rocket-scene">
    <div class="scene">
        <div id="star-container"></div>
        <div class="earth"></div>

        <div class="rocket-container">
            <div class="fin left"></div>
            <div class="fin right"></div>
            <div class="rocket-body">
                <div class="window"></div>
                <div class="fin-center"></div>
            </div>

            <div class="exhaust-visuals">
                <div class="flame-outer"></div>
                <div class="flame-core"></div>
            </div>

            <div class="exhaust-trigger" id="trigger"></div>
        </div>
    </div>
</div>